
body {
   font-family: Arial, sans-serif;
    font-size: 13px;
}

ul#topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
ul#topbar li {
    float: right;
}

ul#topbar li a {

    display: block;
    color: #000;
    text-align: center;
    line-height: 24px;
    padding: 10px 12px;
    text-decoration: none;
    opacity: 0.85;
}

 ul#topbar li a:hover {
    text-decoration: underline;
    opacity: 0.85;
}

ul#topbar li img {
    vertical-align: inherit;
    line-height: 24px;
    padding: 10px 12px;
    height: 30px;
    width: 30px;  /*border-radius: 10px;*/
   
}

 ul#topbar li img:hover {
    opacity: 0.75;
}


ul#topbar li button {
    font-size: 13px;
    font-family: Arial, sans-serif;
    display: block;
    border: none;
    width: 65px;
    height: 30px;
    background-color: #4387fd;
    border-radius: 2px;
    border: 1px solid #4285f4;
    font-weight: bold;
    color: white;
    margin: 10px 15px;
    vertical-align: inherit;
    text-align: center;
}

ul#topbar li button:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);

}

div.logo 
{	
	height: 150px;
	margin-top:80px;
	text-align: center;

}

div.search 
{	

	margin-top:10px;
	text-align: center;

}
input.search-box {
    
    width: 550px; height: 40px;
    
}

div.footer {
	position: fixed;
line-height: 24px;
border-top:1px solid #e4e4e4;;
background-color: #f2f2f2;
height: 40px;
 width: 100%;
 left: 0px;
 bottom: 0px;


}	

ul.left {
    list-style-type: none;



}
ul.left li {
    float: left;
}

ul.left li a {

    display: block;
    color: #000;
    text-align: center;
    padding: 0px 15px ;
    vertical-align: middle;
    text-decoration: none;
    opacity: 0.85;
}

 ul.left li a:hover {
    text-decoration: underline;
    opacity: 0.85;
}

ul.right {
    list-style-type: none;
   
   

}
ul.right li {
    float: right;
}

ul.right li a {

    display: block;
    color: #000;
    text-align: center;
    padding:   0px 15px;
    vertical-align: middle;
    text-decoration: none;
    opacity: 0.85;
}

 ul.right li a:hover {
    text-decoration: underline;
    opacity: 0.85;
}